--- Ignore Data (CRITICAL) ---

data/
archive/
*.zip
*.png
*.jpg
*.jpeg

--- Ignore Large Models ---

Ignore all contents of saved_models by default to prevent accidental large uploads

saved_models/*

! means ALLOW this specific file (The optimized 60MB model)

!saved_models/lung_model_deploy.pth

--- Ignore Virtual Environment ---

env/
venv/
.env

--- Ignore System Junk ---

pycache/
*.pyc
.DS_Store
Thumbs.db
.vscode/